<html>
    <head>
        <title>JetBlue Lowest Fares and Deals</title>
        <link rel="stylesheet" type="text/css" href="https://
        maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div id="container">
            <div class="pagetitle">
                <h1>JetBlue Lowest Fares and Deals</h1>
            </div>
            <div id="main">
                <form method="post" action="{{ url_for('submitted_form') }}">
                    <label for="orig">Origin:</label>
                    <input type="text" orig="orig"><br />
                    <label for="dest">Destination:</label>
                    <input type="text" dest="dest"><br />
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>