<html>
    <head>
        <title>JetBlue Lowest Fares and Deals</title>
        <link rel="stylesheet" type="text/css" href="https://
        maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div id="container">
            <div class="pagetitle">
                <h1>JetBlue Lowest Fares and Deals</h1>
            </div>
            <div id="main">
                <form method="post" action="{{ url_for('submitted_form') }}">
                    <label for="orig">Origin:</label>
                    <input type="text" name="orig"><br />
                    <label for="dest">Departure Date:</label>
                    <input type="text" name="lMonth" placeholder="Month">
                    <input type="text" name="lDay" placeholder="Day">
                    <input type="text" name="lYear" placeholder="Year"><br />
                    <label for="dest">Arrival Date:</label>
                    <input type="text" name="bMonth" placeholder="Month">
                    <input type="text" name="bDay" placeholder="Day">
                    <input type="text" name="bYear" placeholder="Year"><br />
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>